{% extends 'base.html' %}

{% block title %}
    {{ project.title }}
{% endblock title %}

{% block content %}
    {% include 'gallery-modal.html' %}
    <h1 class="my-8 text-4xl font-bold tracking-tight text-center">{{ project.title }}</h1>
    <div class="grid grid-cols-2 gap-6 mb-8 lg:grid-cols-3">
        <div class="col-span-2">
            <img src="{{ project.hero_image.url }}"
                 alt="{{ project.title }} marketing image"
                 class="w-full rounded-xl">
        </div>
        <div class="col-span-2 lg:col-span-1 card bg-base-100">
            <div class="card-body">
                <div class="grid grid-cols-2 gap-4 lg:gap-2">
                    <div class="col-span-2 sm:col-span-1 lg:col-span-2">
                        <h3 class="mb-3 text-xl font-semibold tracking-tight md:text-2xl">Technologies</h3>
                        <div class="flex flex-wrap gap-2 mb-4">
                            {% for tech in project.technologies.all %}<div class="rounded badge badge-accent">{{ tech.name }}</div>{% endfor %}
                        </div>
                    </div>
                    <div id="project-links"
                         class="flex flex-col col-span-2 gap-4 my-4 sm:col-span-1 lg:col-span-2">
                        <a href="{{ project.live_url }}" class="btn btn-secondary btn-block">Preview Site</a>
                        <a href="{{ project.source_code_url }}"
                           class="btn btn-secondary btn-block">View Code</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="description py-4">
        <div class="mb-4 max-w-none prose">{{ project.description|safe }}</div>
    </section>
    <section id="other_images">
        <div x-data
             class="grid grid-cols-1 gap-3 my-4 md:grid-cols-2 md:gap-6 lg:grid-cols-3 lg:my-8 xl:grid-cols-4">
            {% for image in project.images.all %}
                <c-other-image image="{{ image.image.url }}" alt="{{ image.alt_text }}" title="{{ image.title }}"></c-other-image>
            {% endfor %}
        </div>
    </section>
{% endblock content %}
