[project]
dependencies = [
  "django-environ>=0.11.2",
  "django>=5.1.1"
]
description = "Code for my personal website, hosted at https://webbografico.com"
name = "webbografico"
readme = "README.md"
requires-python = ">=3.12"
version = "0.1.0"
