{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock title %}

{% block content %}
    <div id="hero" class="rounded-xl hero">
        <div class="bg-opacity-60 rounded-xl hero-overlay"></div>
        <div class="p-4 text-center md:py-8 lg:py-12 hero-content text-neutral-content">
            <div class="max-w-lg">
                <h1 class="mb-5 text-2xl font-bold tracking-tight md:text-3xl lg:text-6xl">Benvenuti</h1>
                <p class="mb-5 text-sm font-medium md:text-xl">Qui potete trovare il mio blog e i miei progetti...</p>
            </div>
        </div>
    </div>
    <section id="projects"
             class="my-8 md:my-12 lg:my-16"
             hx-trigger="load"
             hx-swap="innerHTML"
             hx-get="{% url 'projects_list' %}">
    </section>
    <section id="blog" class="my-8 md:my-12 lg:my-16">
        <h1 class="section-title">Blog <span class="inline-block py-0.5 px-2.5 text-xs font-medium align-top rounded bg-accent text-accent-content me-2">Coming Soon!</span></h1>
        <div class="mb-8">
            <p class="italic font-medium text-center font-2xl">Nessun articolo pubblicato al momento</p>
        </div>
    </section>
{% endblock content %}
