{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock title %}

{% block content %}
    <div id="hero" class="mb-8 rounded-xl hero">
        <div class="bg-opacity-60 rounded-xl hero-overlay"></div>
        <div class="p-4 text-center md:py-8 lg:py-12 hero-content text-neutral-content">
            <div class="max-w-lg">
                <h1 class="mb-5 text-6xl font-bold tracking-tight">Benvenuti</h1>
                <p class="mb-5 text-xl font-semibold">Qui potete trovare il mio blog e i miei progetti...</p>
            </div>
        </div>
    </div>
    <section id="projects" class="my-8 md:my-12 lg:my-16">
        <h1 class="section-title">Progetti</h1>
        <div class="grid grid-cols-1 gap-4 my-8 md:grid-cols-2 md:gap-6 lg:grid-cols-3">
            <c-card title="School Menu">
            Ex incidunt quia est laudantium ducimus eos expedita accusamus
            </c-card>
            <c-card title="Organize It">
            Vel rerum voluptatem aut accusantium ducimus ut optio eligendi sed minus maxime
            </c-card>
            <c-card title="WEBBOgrafico">
            Ex incidunt quia est laudantium ducimus eos expedita accusamus
            </c-card>
        </div>
    </section>
    <div class="divider"></div>
{% endblock content %}
