{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock title %}

{% block content %}
    <div id="hero" class="hero">
        <div class="bg-opacity-60 hero-overlay"></div>
        <div class="p-4 text-center hero-content text-neutral-content">
            <div class="max-w-lg">
                <h1 class="mb-5 text-6xl font-bold tracking-tight">Benvenuti</h1>
                <p class="mb-5 text-xl font-semibold">Qui potete trovare il mio blog e i miei progetti...</p>
            </div>
        </div>
    </div>
{% endblock content %}
