{% load static tailwind_cli %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="Personal blog and portfolio website built with Django and Tailwind CSS">
        <meta name="keywords"
              content="personal, blog, portfolio, django, python, web development">
        <title>
            {% block title %}
                Webbografico
            {% endblock title %}
        </title>
        <!-- TAILWINDCSS -->
        {% tailwind_css %}
        <!-- ALPINEJS -->
        <script defer src="{% static 'js/alpine-collapse.min.js' %}"></script>
        <script defer src="{% static 'js/alpine.min.js' %}"></script>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container pt-8 mx-auto lg:pt-12">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
