{% load heroicons %}
{% if messages %}
    <div class="toast toast-top toast-center">
        {% for message in messages %}
            <div class="alert {% if message.tags == 'info' %} alert-info {% elif message.tags == 'success' %} alert-success {% elif message.tags == 'error' %} alert-error {% elif message.tags == 'warning' %} alert-warning {% elif message.tags == 'debug' %} {% endif %}"
                 role="alert"
                 x-cloak
                 x-data="{ show: true }"
                 x-show="show"
                 x-init="setTimeout(() => show = false, 4000)">
                {% if message.tags == 'info' %}
                    {% heroicon_mini 'information-circle' class="w-5 h-5" %}
                {% elif message.tags == 'success' %}
                    {% heroicon_mini 'check-circle' class="w-5 h-5" %}
                {% elif message.tags == 'error' %}
                    {% heroicon_mini 'exclamation-circle' class="w-5 h-5" %}
                {% elif message.tags == 'warning' %}
                    {% heroicon_mini 'bell' class="w-5 h-5" %}
                {% elif message.tags == 'debug' %}
                    {% heroicon_mini 'bug-ant' class="w-5 h-5" %}
                {% endif %}
                <span class="sr-only">Info</span>
                <span>{{ message|safe }}</span>
                <button type="button"
                        class="btn btn-circle btn-xs"
                        @click="show = !show"
                        aria-label="Close">
                    <span class="sr-only">Close</span>
                    {% heroicon_mini 'x-mark' class="w-4 h-4" %}
                </button>
            </div>
        {% endfor %}
    {% endif %}
</div>
