@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1, h2, h3, h4, h5, h6, h7 {
        @apply font-poppins;
    }
    #hero {
        background-image: url("../img/hero_image.jpg");
    }

    h1.section-title {
        @apply text-4xl font-bold text-center mb-8;
    }

    li > a.current {
        @apply text-primary-content bg-primary;
    }
}

[x-cloak] { display: none !important; }
