{% load static %}
<div class="mx-auto max-w-xs border shadow-md border-base-300 card bg-base-100 lg:max-width-md">
    <a href="{% url 'project_detail' id %}">
        <img class="rounded-t-lg"
             src="{{ image }}"
             alt="{{ title }} Marketing Image" />
    </a>
    <div class="text-center md:text-left card-body">
        <a href="{% url 'project_detail' id %}">
            <h3 class="mb-2 text-xl font-semibold tracking-tight md:text-2xl">{{ title }}</h3>
        </a>
        <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ slot }}</div>
        <a href="{% url 'project_detail' id %}"
           class="inline-flex items-center btn btn-sm btn-primary">
            Vedi Progetto
            {% heroicon_solid "arrow-long-right" class="size-4 ms-2" %}
        </a>
    </div>
</div>
